.Clients {
  width: 100%;
  height: 100%;
  background: url('/media/bg3.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 3rem 0;


  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .7;
    z-index: $z-normal;

  }


  &-wrapper {
    overflow: hidden;
    max-width: $max-width;
    margin: 0 auto;
    position: relative;
    z-index: $z-tooltip;

    @include from(desktop) {
      max-width: $max-width;
      margin: 0 auto;
    }
  }

  &-feedback {
    width: 100%;
    height: 23rem;
    display: flex;
    text-align: center;
    animation: slider 20s infinite;





    &-item {
      min-width: 100%;
      height: 100%;
      padding: 0 1rem;

      @include from(desktop) {
        padding: 0;
      }


      &-wrapper {
        padding: 2rem 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
        background: white;
        border-radius: 5px;

        @include from(desktop) {
          width: 30rem;
        }

        & img {
          border-radius: 50%;
        }

        & p {
          margin: 1rem;
          @include from(desktop){
            margin: 1.5rem;
          }
        }

      }
    }
  }
}