.Tittle {
  font-size: 2em;
  position: relative;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 5rem;
  font-weight: bold;

  &:after,
  &:before {
    content: " ";
    position: absolute;
    border-style: solid;
    border-color: inherit;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: $z-normal;
  }

  &:after {
    width: 10rem;
    bottom: 0;
    border-width: 1px 0 0 0;

  }

  &:before {
    border-width: 1px 0;
    bottom: -5px;
    width: 5rem;
    padding: 4px 0 5px;
    opacity: 0.67;
  }

  &.is-black {
    color: black;
  }

  &.is-white {
    color: white;
  }


}