


$header-height:4rem;


// Typography

$font-family: BlinkMacSystemFont,
-apple-system,
'Open Sans',
sans-serif;
$family-code: monospace;

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-boldx: 900;

//  Z-index Variables

$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

//  Layout

$max-width: 1200px;

//  BreakPoints
$breakpoints: (
  desktop : 992px,
  tablet : 768px,
  phablet : 576px,
  mobile : 320px
  );